/* BOX SIZING RESET */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* SET FLUID TYPOGRAPHY - 16px at 400px viewport and 14px minimum */

:root {
    font-size: calc(0.875em + .5vw);
}

h1 {
    font-size: 2.074rem;
}

h2 {
    font-size: 1.728rem;
}

h3 {
    font-size: 1.44rem;
}

h4 {
    font-size: 1.2rem;
}

body {
    margin: 5% 10% 0;
}


/* NAVIGATION */

.flx-container {
    display: flex;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

nav li {
    font-size: .6rem;
    text-transform: uppercase;
}

.navbar-secondary {
    justify-content: space-around;
    align-items: center;
    background-color: #d32232;
    height: 1.5rem;
    color: #fff;
    margin: 0 auto;
}

.navbar-secondary a {
    color: #fff;
}

.navbar-secondary a:hover {
    color: #C59E47;
    cursor: pointer;
}

.navbar-secondary ul:first-child {
    width: 4rem;
    display: flex;
    justify-content: space-between;
}

.navbar-primary {
    justify-content: center;
    flex-wrap: wrap;
    margin: .5rem auto 0;
    height: 3.5rem;
}

.navbar-primary img {
    width: 115px;
    height: 125px;
}

.navbar-primary ul {
    margin-top: 0;
}

.navbar-primary ul:first-child {
    margin-right: 5%;
    margin-left: -15%;
    z-index: 3;
}

.navbar-primary .primary-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 50%;
    align-items: center;
    margin-bottom: 0;
    height: 3.5rem;
}

.navbar-primary .primary-links a {
    padding: 0 .5rem;
}

.primary-links a {
    color: #000;
}

.primary-links li:not(:last-child) a:hover {
    border-bottom: 2px solid #C59E47;
}

.primary-links li:last-child a {
    margin-left: 1rem;
    padding: .2rem .4rem;
    border: 2px solid #C59E47;
}

.primary-links li:last-child a:hover {
    color: #fff;
    background-color: #C59E47;
}

.mobile-nav {
    display: none;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-align: end;
}

/* MOBILE NAV */

@media screen and (max-width: 550px) {

    .mobile-nav {
        display: block;
        width: auto;
        order: 3;
        align-self: flex-start;
    }
    
    .navbar-secondary {
        display: block;
        height: auto;
        text-align: center;
    }

    .navbar-secondary ul {
        margin: 0 auto;
        height: 1rem;
    }

    .navbar-primary {
        height: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-primary ul:first-child {
        margin-bottom: 0;  
    }

    .navbar-primary .primary-links {
        display: none;
        height: auto;
    }

    .navbar-primary .primary-links li {
        text-align: center;
        height: 1.5rem;
    }

    .navbar-primary .primary-links li a:last-child {
        margin: 0;
    }

    .navbar-primary .primary-links.open {
        display: block;
    }

    .navbar-primary.open-height {
        height: auto;
    }


}


/* BANNER */

.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.banner .banner-txt {
    position: absolute;
    top: 35%;
    left: 13%;
    right: auto;
    width: 40%;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.banner-txt>h3 {
    margin-bottom: 0;
}

.banner-txt>p {
    text-align: center;
}

@media screen and (max-width: 620px) {
    .banner .banner-txt {
        top: 0;
        left: 50%;
        width: 50%;
    }

    .banner-txt>h3 {
       font-size: 1rem;
    }
    
    .banner-txt>p {
        font-size: .7rem;
    }
}


/* SEARCH FORM */

.search-form {
    background-color: #F8C72D;
    padding-left: 6%;
    padding-bottom: 2rem;
    color: #fff;
    font-size: .7rem;
}

.search-form ::placeholder {
    color: #fff;
}

.search-form > h4 {
    margin: 0;
    padding: 1rem 0 .5rem;
    text-transform: uppercase;
}

.search-form > input {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: .3rem .5rem;
    margin-right: .5rem;
    height: 2rem;
    width: 20%;
}

.search-form > input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .6);
}

.selectdiv {
    position: relative;
    display: inline-block;
    width: 13%;
    margin-right: .5rem;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: .3rem .5rem;
    height: 2rem;
    width: 100%;
}

select:-moz-focusring {
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

.selectdiv:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f078';
    font-size: 1rem;
    color: #fff;
    right: 20px;
    top: 8px;
    padding: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown {
    display: none;
}

.selectdiv > select:hover {
    color: #F8C72D;
    background: #fff;
}

select > option {
    background-color: #fff;
}

.selectdiv:hover:after {
    color: #F8C72D;
}

.search-form fieldset {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

.search-form fieldset label {
    display: block;
    padding-bottom: .3rem;
}

.search-form fieldset input {
    display: block;
    border: none;
    width: 10rem;
}

.search-form fieldset input:focus {
    outline: none;
    border: none;
}

input::-moz-focus-inner, input::-moz-focus-outer { 
    border: none; 
}

input[type=range]::-moz-range-thumb {
    background: #000;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    background: #000;
    border: none;
}

input[type=range]::-ms-thumb {
    background: #000;
    border: none;
}

input[type=range]::-moz-range-thumb:hover {
    background: #fff;
    
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #fff;

}

input[type=range]::-ms-thumb:hover {
    background: #fff;
}

input[type=range]::-moz-range-track {
    background: #000;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #000;
}

input[type=range]::-ms-track {
    background: #000;
}

.search-btn {
    margin-left: 3%;
    background-color: transparent;
    border: none;
    color: #fff;
}

.search-btn i {
    font-size: 1rem;
}

@media screen and (max-width: 1250px) {
    .search-form > input  {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .selectdiv {
        display: inline-block;
        width: 30%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .search-form > fieldset {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    .search-form > fieldset input {
        margin: 0 auto;
    }

    .search-btn {
        display: block;
        margin: 1rem auto;
        margin-bottom: 0;
        width: auto;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .selectdiv {
        display: block;
        width: 80%;
        margin: 0.5rem auto;
    }
}

/* FEATURES CARS */

.features-cars > h2 {
    margin: 2rem auto;
    text-align: center;
    color: #020243;
}

.features-cars > h2 > span {
    padding: 0 1.5rem;
}

.features-cars > .flx-container {
    flex-wrap: wrap;
    justify-content: center;
}

.flx-container > .features-row {
    justify-content: center;
    flex: 0 0 50%;
    flex-wrap: nowrap;
    border: 1px solid #BABABA;
}

.features-row > img {
    min-width: 250px;
    max-height: 100%;
    display: block;
}

.features-item {
    flex: 0 0 50%;
    display: flex;
}

div.features-item {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 700px) {
    .flx-container > .features-row {
        flex-wrap: wrap;
        
    }

    .flx-container > .features-row {
        border: transparent;
    }

    .features-textbox {
        max-width: 250px;
        
    }
    
}

.features-textbox {
    flex: 0 0 90%;
    text-align: center;
    border: 1px solid #C59E47;
  
}

.features-textbox > h4:first-child {
    color: #5B5B5B;
    margin-bottom: 0;
}

.features-textbox > p {
    color: #5B5B5B;
    font-size: .7rem;
}

.features-textbox > h4:nth-child(3) {
    color: #020243;
    margin-top: 30%;
    margin-bottom: .6rem;
}

.features-textbox > a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #020243;
    border: 1px solid #020243;
    padding: .5rem;
    width: 70%;
    margin: 0 auto 1.5rem;
}

.features-textbox > a:hover {
    color: #020243;
    background-color: #fff;
}

/* LATEST CARS */

.latest-cars > h2 {
    margin: 2rem auto;
    text-align: center;
    color: #020243;
}

.latest-cars > h2 > span {
    padding: 0 1.5rem;
}

.latest-cars ul {
    justify-content: center;
    align-items: baseline;
    padding-left: 0;
}

.latest-cars li {
    list-style-type: none;
}

.latest-cars li:first-child {
    font-size: .8rem;
    padding-right: .5rem;
}

.latest-cars a {
    text-decoration: none;
    padding: 0 .5rem;
    font-size: .6rem;
    color: #6D6D6D;
    
}

.latest-cars a:active {
    outline: none;
}

@media screen and (max-width: 850px) {
    .latest-cars .flx-container {
        display: block;
    }
    .latest-cars li {
        margin: 0 auto;
        text-align: center;
        padding: .3rem 0;
    }
    .latest-cars a {
        padding: .3rem 0;
    }
}

.latest-cars-container {
    flex-wrap: wrap;
    justify-content: center;
}

.latest-cars-container .latest-cars-item {
    min-width: 300px;
    flex: 0 0 25%;
    position: relative;
}

.latest-cars-item img {
    width: 100%;
    display: block;
}

.latest-cars-textbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 500ms linear;
}

.latest-cars-textbox .star {
    font-size: .4rem;
    height: 1rem;
    margin-bottom: 2%;
    margin-left: 10%;
    width: 80%;
}

.latest-cars-textbox i {
    vertical-align: middle;
}
.latest-cars-textbox .star:first-child {
    border-bottom: 2px solid #F6F6FB;
    margin-top: 4%;
}

.latest-cars-textbox .car-descript {
    border-top: 1px solid #F6F6FB;
    border-bottom: 1px solid #F6F6FB;
    width: 80%;
    margin-left: 10%;
}

.latest-cars-textbox .car-descript h3 {
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 0;
}

.latest-cars-textbox .car-descript p {
    font-size: .7rem;
    margin-top: 2%;
    margin-bottom: 0;
}

.latest-cars-textbox .car-descript h4 {
    font-size: .8rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.latest-cars-textbox .car-descript a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: .8rem;
}

.latest-cars-textbox .car-descript div {
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.latest-cars-textbox .star:last-child {
    border-top: 2px solid #F6F6FB;
    margin-top: 2%;
    padding-top: 2%;
}

.latest-cars-item:hover .latest-cars-textbox {
    display: block;
    background-color: rgba(0, 0, 0, .6);
    opacity: 1;
    transition: opacity 500ms linear;
}

@media screen and (max-width: 550px) {
    .features-cars > h2 {
        font-size: 1rem;
    }

    .features-cars > h2 > span {
        padding: 0 .5rem;
    }

    .latest-cars > h2 {
        font-size: 1rem;
    }

    .latest-cars > h2 > span {
        padding: 0 .5rem;
    }
}

/* NEWSLETTER */

.newsletter {
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 2%;
}

.newsletter img {
    display: block;
    width: 100%;
}

.newsletter .news-border {
    margin-left: 10%;
    margin-top: 5%;
}

.newsletter > div:first-child {
    width: 100%;
    min-width: 300px;
    flex: 0 0 55%;
    z-index: 3;
    position: relative;
}

.newsletter .news-text {
    position: absolute;
    left: 20%;
    top: 35%;
    width: 70%;
}

.news-text h1 {
    font-size: 1.2rem;
    letter-spacing: 6px;
}

.news-text p {
    font-size: .9rem;
}

.newsletter form {
    min-width: 300px;
    flex: 0 0 45%;
    display: block;
    position: relative;
}

.newsletter .news-form {
    display: block;
    position: absolute;
    width: 60%;
    left: 20%;
    top: 40%;
    color: #fff;
}

.news-form input {
    display: block;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.news-form input::placeholder {
    color: #fff;
    font-weight: 300;
    opacity: 1;
}

.news-form input:focus {
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid #66afe9;
}

.news-form button {
    display: block;
    background: none;
    width: 100%;
    height: 3rem;
    margin-top: 5%;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 11px;
    outline: none;
    border: 1px solid #fff;
}

.news-form button:hover {
    background: #fff;
    color: #000;
}

@media screen and (max-width: 1350px) {
    .news-form button {
        letter-spacing: 0;
        font-size: 1rem;
    }

    .news-text p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 950px) {
    .newsletter .news-text {
        top: 25%;
    }
}

@media screen and (max-width: 850px) {
    .newsletter > div:first-child {
       margin-top: 1rem;
       flex: 0 0 100%
    }

    .newsletter .news-border {
        margin: 0 auto;
        height: 300px;
        width: 300px;
        transform: rotate(90deg);
        flex: 0 0 100%;
    }
    
    .newsletter .news-text {
        top: 15%;
        left: 50%;
        width: 200px;
        text-align: center;
        transform: translate3d(-50%,0,0);
    }
  
    .news-text h1 {
        font-size: 1rem;
        letter-spacing: 2px;
    }
}

/* FOOTER */

footer > img {
    display: block;
    margin: 2rem auto;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding-left: 0;
}

.footer-nav {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.footer-nav a {
    color: #333;
}

footer > p {
    margin: 3rem auto;
    text-align: center;
    color: #707070;
}

footer > hr {
    width: 10%;
    margin: 2rem auto;
    border: none;
    height: 3px;
    background-color: #000;
}

.footer-social {
    justify-content: center;
}

.footer-social li {
    width: 5%;
    text-align: center;
}

.footer-social a {
    color: #C59E47;
}

.footer-social a:hover {
    color: #000;
}

.credits {
    width: 100%;
    position: absolute;
    left: 0;
    height: 1.5rem;
    justify-content: space-around;
    background: #000;
    color: #fff;
    align-items: center;
    font-size: .7rem;
}

.credits p {
    margin: 0;
}

.credits p span {
    color: #d99735;
}

.credits a {
    color: #fff;
}

@media screen and (max-width: 1350px) {

footer > img {
    margin: 0 auto;
}
    
    .footer-nav {
        display: block;
    }

    .footer-nav li {
        text-align: center;
        height: 1.2rem;
        font-size: .7rem;
    }

    footer > p {
        font-size: .6rem;
        margin: .5rem auto;
    }

    .footer-social li {
        width: 10%;
    }
}
